- if @product.photos?
  = image_tag @product.photos.first.photo.url(:large), :id => 'hero_image'

  - if @product.photos.size > 1
    %p.thumbs
      - @product.photos.each do |photo|
        - img = image_tag photo.photo.url(:thumb), :alt => photo.alt
        = link_to img, photo.photo.url(:large)

:javascript
  $(document).ready(function() {
    $(".thumbs a").simple_photo_swap('hero_image');
  });
