$bg_cream : #f1eee4;
$green : #001301;
$white : #ffffff;
$alert : #410000;

@mixin sprite($sprite, $x, $y, $h, $w) {
    background : url(/images/sprites/#{$sprite}.png) no-repeat scroll #{$x}px #{$y}px transparent;
    height : #{$h}px;
    width  : #{$w}px;
}


/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
.marginT { margin-top    : 10px; }
.marginR { margin-right  : 10px; }
.marginB { margin-bottom : 10px; }
.marginL { margin-left   : 10px; }
.hidden  { display : none; }

hr { margin : 1.5em 0; }

