@import "partials/helpers";

#productC {
    background-color : $bg_cream;
    padding : 20px;
    
    div.price {
        font-size : 2.2em;
        color : $alert;
        margin-bottom : 0px;
    }
    p {
        font-family : arial,helvetica,sans-serif;
        margin-bottom : 1em;
        font-size : 1em;
        line-height : 1.8em;
    }
    b {
        display : block;
    }
    ul {
        margin : 0;
        font-family : arial,helvetica,sans-serif;
    }

    .product_imageC {
        width : 445px;
        height : 170px;
        border : 2px solid $green;
        overflow : hidden;
    }

    .spv { /* single product view */
        font-family: arial,helvetica,sans-serif;
        font-size: 1em;
        line-height: 1.8em;
        margin-bottom: 1em;

        h2 a {
            margin : .2em 0 0 0;
            line-height : 1.8em;
            color : $dark_green;
            text-decoration : none;
        }
        h2 a:hover { text-decoration : underline; }

        .price {
            margin : 0 0 .2em 0;
            letter-spacing : .05em;
            font-size : 1.6em;
        }
        .linkC {
            margin : .25em 0;
        }
    }



}

#atcC { /* contact engine */
    form { position : relative; }

    input#quantity {
        width : 22px !important;
    }
    input[type="submit"] {
        width : 300px;
        margin : 0 0 0 45px;
        font-size : 1.6em;
        padding : .5em .25em;
    }
    #quantityC {
        font-family : arial, helvetica, sans-serif;
        position: absolute;
        left : 360px;
        top  : 4px;
        
        label[for="quantity"] {
            position : absolute;
            top : -5px;
            left : 0px;
        }
        input#quantity {
            position : absolute;
            top  : 13px;
            left : 8px;
            margin : 0px;
            text-align : center;
        }
    }
}

#hero_image {
    width  : 450px;
    height : 300px;
}
p.thumbs {
    img {
        border : solid 1px transparent;
        width  : 100px;
        height : 100px;
        padding: 4px;
    }
    img:hover {
        border-color : #FF9900;
        background-color : $white;
    }
}