@import "partials/helpers";

#productC {
    background-color : $bg_cream;
    padding : 20px 10px;
    
    h2 {
        font-size : 2.2em;
        color : $alert;
        margin-bottom : 0px;
    }
    div.price {
        font-size : 2.2em;
        color : $green;
        margin-bottom : 0px;
    }
    p {
        font-family : arial,helvetica,sans-serif;
        margin-bottom : 1em;
        font-size : 1em;
        line-height : 1.8em;
    }
    b {
        display : block;
    }
    ul {
        margin : 0;
        font-family : arial,helvetica,sans-serif;
    }
}

#hero_image {
    width  : 450px;
    height : 300px;
}
p.thumbs {
    img {
        border : solid 1px transparent;
        width  : 100px;
        height : 100px;
        padding: 4px;
    }
    img:hover {
        border-color : #FF9900;
        background-color : $white;
    }
}