@charset "UTF-8";
/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

/* line 3, ../../app/stylesheets/application.scss */
h2 {
  font-size: 2.2em;
  color: #201400;
  margin-bottom: 0px;
}

/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

@font-face {
  font-family: "HoeflerTextBlack";
  src: local("☺"), url('/fonts/hoefler_text-webfont.svg') format('svg'), url('/fonts/hoefler_text-webfont.woff') format('woff'), url('/fonts/hoefler_text-webfont.ttf') format('truetype');
}

/* line 10, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -80px;
}
/* line 18, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer {
  height: 80px;
}

/* line 20, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 80px;
}

/* line 12, ../../app/stylesheets/partials/_frame.scss */
body {
  background: url(/images/frame/body_bg.png) repeat-x 0px 100px #f1eee4;
  font-family: Times, "Times New Roman", Georgia, serif !important;
}

/* line 16, ../../app/stylesheets/partials/_frame.scss */
#header_delimeter {
  background-color: #001301;
  height: 8px;
  width: 100%;
  position: absolute;
  top: 105px;
  left: 0px;
}

/* line 24, ../../app/stylesheets/partials/_frame.scss */
#header_delimeter_fade {
  background: url(/images/frame/fade_up.png) repeat-x 0 0px transparent;
  height: 13px;
  width: 100%;
  position: absolute;
  top: 92px;
  left: 0px;
}

/* line 32, ../../app/stylesheets/partials/_frame.scss */
#header_bg {
  background: url(/images/frame/header_bg.jpg) repeat-x scroll 0 0 #f1eee4;
  height: 100px;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

/* line 41, ../../app/stylesheets/partials/_frame.scss */
#header {
  height: 177px;
  position: relative;
}
/* line 45, ../../app/stylesheets/partials/_frame.scss */
#header #header_fruit {
  background: url(/images/frame/header_fruit.png) no-repeat scroll 0 0 transparent;
  height: 104px;
  left: 199px;
  position: absolute;
  top: 7px;
  width: 578px;
  z-index: -1;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}
/* line 56, ../../app/stylesheets/partials/_frame.scss */
#header #banner_logo {
  background: url(/images/frame/yakima_press_company_logo.png) no-repeat 0 0px transparent;
  position: absolute;
  left: 350px;
  top: 5px;
  height: 314px;
  width: 251px;
}

/* line 65, ../../app/stylesheets/partials/_frame.scss */
div#main_container {
  min-height: 140px;
  margin-bottom: 100px;
  /* to offset -80px margin on footer */
}

/* line 66, ../../app/stylesheets/partials/_frame.scss */
div#footer {
  background-color: #001301;
  color: white;
  letter-spacing: .05em;
  font-size: .9em;
  line-height: 1.4em;
}
/* line 73, ../../app/stylesheets/partials/_frame.scss */
div#footer #footer_delimeter_fade {
  background: url(/images/frame/fade_up.png) repeat-x 0 0px transparent;
  height: 13px;
  width: 100%;
  position: relative;
  top: -13px;
  left: 0px;
  margin-bottom: 12px;
}
/* line 83, ../../app/stylesheets/partials/_frame.scss */
div#footer div.delimeter {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  color: #7FB86B;
  border-right: solid 1px white;
  margin: 0 5px 0 0;
  padding: 0 0 0 5px;
}
/* line 7, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
div#footer div.delimeter {
  *display: inline;
}
/* line 91, ../../app/stylesheets/partials/_frame.scss */
div#footer span.cap {
  font-size: 1.3em;
  text-transform: uppercase;
}
/* line 92, ../../app/stylesheets/partials/_frame.scss */
div#footer span.lc {
  font-size: .9em;
  text-transform: uppercase;
}
/* line 94, ../../app/stylesheets/partials/_frame.scss */
div#footer a {
  color: white;
  text-decoration: none;
}
/* line 95, ../../app/stylesheets/partials/_frame.scss */
div#footer a:hover {
  text-decoration: underline;
}

/* line 99, ../../app/stylesheets/partials/_frame.scss */
div#swirly_twirlyC {
  position: relative;
  height: 165px;
  margin-bottom: 10px;
}
/* line 107, ../../app/stylesheets/partials/_frame.scss */
div#swirly_twirlyC div#swirly_twirlyL, div#swirly_twirlyC div#swirly_twirlyR {
  position: absolute;
  top: -64px;
  left: 0px;
  z-index: -1;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
}
/* line 115, ../../app/stylesheets/partials/_frame.scss */
div#swirly_twirlyC div#swirly_twirlyL {
  background: url(/images/sprites/swirly-twirly.png) no-repeat scroll 0px 0px transparent;
  height: 220px;
  width: 426px;
}
/* line 116, ../../app/stylesheets/partials/_frame.scss */
div#swirly_twirlyC div#swirly_twirlyR {
  background: url(/images/sprites/swirly-twirly.png) no-repeat scroll -428px 0px transparent;
  height: 220px;
  width: 426px;
  left: 524px;
}

/* line 121, ../../app/stylesheets/partials/_frame.scss */
h1 {
  /*  font-family : "HoeflerTextBlack";*/
  font-weight: normal;
  font-size: 2.8em;
  color: #410000;
  text-shadow: 1px 1px #fff;
}

/* line 128, ../../app/stylesheets/partials/_frame.scss */
h1#page_title {
  font-style: italic;
  text-align: center;
  margin-bottom: 1em;
}

/* line 4, ../../app/stylesheets/partials/_menu.scss */
#menu_bar {
  background-color: #e7e3d4;
  opacity: 0.6;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  color: #001301;
  position: absolute;
  top: 113px;
  left: 0px;
  height: 63px;
  border-bottom: solid 1px #476443;
  width: 100%;
}

/* line 16, ../../app/stylesheets/partials/_menu.scss */
ul#menuC {
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
  position: absolute;
  top: 121px;
  color: #002c03;
}
/* line 24, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li {
  display: inline;
  float: left;
  width: 119px;
  text-transform: uppercase;
  letter-spacing: .1em;
}
/* line 31, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li a {
  color: #002c03;
  text-decoration: none;
}
/* line 35, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li a:hover {
  text-decoration: underline;
}
/* line 40, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.title {
  height: 2.2em;
}
/* line 42, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.title span.cap {
  font-size: 2.1em;
  text-transform: uppercase;
}
/* line 43, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.title span.lc {
  font-size: 1.4em;
  text-transform: uppercase;
}
/* line 45, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.descr {
  font-size: .7em;
  height: 2.2em;
  padding: 0;
  margin: 0 1px 0 0;
  text-shadow: 1px 1px #999;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../Users/younker/.rvm/gems/ruby-1.8.7-p302/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul#menuC li div.descr {
  *display: inline;
}
/* line 53, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.descr span.cap {
  font-size: 1.5em;
  text-transform: uppercase;
}
/* line 54, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li div.descr span.lc {
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 58, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li.spacer {
  width: 240px;
}
/* line 59, ../../app/stylesheets/partials/_menu.scss */
ul#menuC li.last {
  width: 110px;
}

/* line 1, ../../app/stylesheets/partials/_all_cap.scss */
span.cap {
  font-size: 1.9em;
  text-transform: uppercase;
}

/* line 2, ../../app/stylesheets/partials/_all_cap.scss */
span.lc {
  font-size: 1em;
  text-transform: uppercase;
}

/* line 1, ../../app/stylesheets/partials/_admin_area.scss */
div.admin_area {
  float: right;
  font-size: 12px;
}

/*.formC_700 { width : 700px; }*/
/* line 3, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold {
  width: 700px;
}
/* line 5, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold .field {
  margin-bottom: 10px;
}
/* line 8, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold .field label {
  display: block;
}
/* line 12, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold .field label[data-type="checkbox"] {
  display: inline;
  margin-left: 5px;
}
/* line 17, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold .field textarea {
  height: 20em;
  width: 80%;
  margin: 0;
}
/* line 24, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold .field textarea,
form.scaffold .field input[type="text"],
form.scaffold .field input[type="password"] {
  padding: 4px;
  border: 1px solid #999;
  color: #333;
  width: 97%;
  margin: 0;
}
/* line 33, ../../app/stylesheets/partials/_scaffold.scss */
form.scaffold div.disabled_form_field {
  padding: 4px;
  border: 1px solid #999;
  color: #333;
  width: 97%;
  background-color: #dadada;
  margin-bottom: 5px;
}

/* line 42, ../../app/stylesheets/partials/_scaffold.scss */
.actions {
  margin: 1.5em 0;
}

/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

/* line 14, ../../app/stylesheets/partials/buttons.scss */
.button {
  border: 1px solid #555555;
  color: #112233 !important;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 10px 2px 10px;
  text-align: center;
  margin-top: 0px;
  line-height: 14px;
  text-decoration: none;
  text-shadow: 0 1px #ffffff;
  white-space: nowrap;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px white;
  /*background : url("/img/sprites/vertical_backgrounds.png") repeat-x scroll 0 -173px transparent;*/
  background: #dadada;
}

/* line 34, ../../app/stylesheets/partials/buttons.scss */
.button {
  cursor: pointer;
}

/* line 36, ../../app/stylesheets/partials/buttons.scss */
.button img {
  margin-top: -1px;
}

/* line 37, ../../app/stylesheets/partials/buttons.scss */
html* input.button {
  line-height: 12px;
  margin-top: -4px;
}

/* line 39, ../../app/stylesheets/partials/buttons.scss */
.button:hover, .button.sel {
  color: black !important;
}

/* line 43, ../../app/stylesheets/partials/buttons.scss */
.button:active {
  /*background-position : 0px -59px;*/
  background-color: #dadada;
}

/* line 48, ../../app/stylesheets/partials/buttons.scss */
.button.b100 {
  width: 100px;
}

/* line 49, ../../app/stylesheets/partials/buttons.scss */
.button.b150 {
  width: 150px;
}

/* line 50, ../../app/stylesheets/partials/buttons.scss */
.button.b200 {
  width: 200px;
}

/* line 51, ../../app/stylesheets/partials/buttons.scss */
.button.b250 {
  width: 250px;
}

/* line 53, ../../app/stylesheets/partials/buttons.scss */
.button.alert:hover {
  color: #410000 !important;
  border-color: #410000;
  background-color: white;
  text-shadow: none;
}

/* line 3, ../../app/stylesheets/partials/_overlay.scss */
div.blockMsg {
  background: url("/images/20_white_opacity_1x1.png") repeat scroll 0 0 transparent;
  border: 1px solid #868686;
  padding: 0;
  margin: 0;
  top: 35%;
  left: 35%;
  color: #000;
  cursor: 'wait';
}

/* line 13, ../../app/stylesheets/partials/_overlay.scss */
div.blockMsg p#modal_contentC {
  margin: 10px;
  padding: 40px;
  background: #ffffff;
  font-align: left;
}

/* line 19, ../../app/stylesheets/partials/_overlay.scss */
div.blockMsg, p#modal_contentC {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
  -khtml-border-radius: 7px;
  border-radius: 7px;
}

/* line 3, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlcontainer {
  font-family: arial, helvetica, sans-serif;
  position: fixed;
  right: 20px;
  top: 20px;
  z-index: 1000;
  font-size: 1.3em;
  width: 325px;
}

/* line 12, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlcontainer ol li {
  list-style: decimal inside none;
}

/* line 14, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlstatus {
  position: relative;
  background: url(/images/opacity_60.png) repeat scroll 0px 0px transparent;
  border: 3px #000 solid;
  padding: 10px;
  color: #fff;
  margin-bottom: 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
}

/* line 23, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlstatus .growltitle {
  font-weight: bold;
  margin-bottom: 5px;
}

/* line 27, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlstatusclose {
  position: absolute;
  top: 8px;
  right: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: none;
  background: transparent url(/images/growl_close_btn.png) no-repeat;
}

/* line 37, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlstatus:hover {
  background-color: #000;
  border: 3px #666 solid;
}

/* line 41, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlstatus:hover .growlstatusclose {
  display: block;
}

/* line 44, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlwithicon {
  padding-left: 50px;
  /*  background-position: 5px 10px;*/
  /*  background-repeat:no-repeat;*/
}

/* line 50, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlcontainer h2 {
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-bottom: 1px dotted #fff;
  margin-bottom: 5px;
  padding-bottom: 5px;
}

/* line 58, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlcontainer li {
  font-size: .9em;
  margin-bottom: 5px;
}

/****** growl icons ******* 
--------------------------*/
/* line 65, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlicon {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 6px;
  left: 9px;
}

/* line 72, ../../app/stylesheets/partials/_jquery.growl.scss */
#growlicon.growlicon_notice {
  background-image: url(/images/icons/notice.png);
}

/* line 75, ../../app/stylesheets/partials/_jquery.growl.scss */
.growlicon_error {
  background-image: url(/images/icons/error.png);
}

/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

/* line 6, ../../app/stylesheets/partials/_home.scss */
#productsC {
  font-size: 1.2em;
}
/* line 9, ../../app/stylesheets/partials/_home.scss */
#productsC h1 {
  color: #001301;
  font-size: 2.65em;
  text-align: left;
  font-style: normal;
  margin: 10px 0;
}
/* line 16, ../../app/stylesheets/partials/_home.scss */
#productsC p {
  font-family: arial, helvetica, sans-serif;
  color: #000;
}
/* line 21, ../../app/stylesheets/partials/_home.scss */
#productsC .flaged {
  font-size: .95em;
  border: 1.6em solid #001301;
  border-left: 1.6em solid transparent;
  height: 0px;
  color: white;
  text-align: right;
  padding: 0 .25em 0 0;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  -o-border-top-right-radius: 4px;
  -ms-border-top-right-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 35, ../../app/stylesheets/partials/_home.scss */
#productsC .flaged a {
  color: white;
  text-decoration: underline;
}
/* line 36, ../../app/stylesheets/partials/_home.scss */
#productsC .flaged a:hover {
  text-decoration: none;
}
/* line 38, ../../app/stylesheets/partials/_home.scss */
#productsC .flaged span {
  position: relative;
  top: -0.65em;
}

/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

/* line 3, ../../app/stylesheets/partials/_product_page.scss */
#productC {
  background-color: #f1eee4;
  padding: 20px;
}
/* line 7, ../../app/stylesheets/partials/_product_page.scss */
#productC div.price {
  font-size: 2.2em;
  color: #410000;
  margin-bottom: 0px;
}
/* line 12, ../../app/stylesheets/partials/_product_page.scss */
#productC p {
  font-family: arial,helvetica,sans-serif;
  margin-bottom: 1em;
  font-size: 1em;
  line-height: 1.8em;
}
/* line 18, ../../app/stylesheets/partials/_product_page.scss */
#productC b {
  display: block;
}
/* line 21, ../../app/stylesheets/partials/_product_page.scss */
#productC ul {
  margin: 0;
  font-family: arial,helvetica,sans-serif;
}
/* line 26, ../../app/stylesheets/partials/_product_page.scss */
#productC .product_imageC {
  width: 445px;
  height: 170px;
  border: 2px solid #001301;
  overflow: hidden;
}
/* line 33, ../../app/stylesheets/partials/_product_page.scss */
#productC .spv {
  /* single product view */
  font-family: arial,helvetica,sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  margin-bottom: 1em;
}
/* line 39, ../../app/stylesheets/partials/_product_page.scss */
#productC .spv h2 a {
  margin: .2em 0 0 0;
  line-height: 1.8em;
  color: #201400;
  text-decoration: none;
}
/* line 45, ../../app/stylesheets/partials/_product_page.scss */
#productC .spv h2 a:hover {
  text-decoration: underline;
}
/* line 47, ../../app/stylesheets/partials/_product_page.scss */
#productC .spv .price {
  margin: 0 0 .2em 0;
  letter-spacing: .05em;
  font-size: 1.6em;
}
/* line 52, ../../app/stylesheets/partials/_product_page.scss */
#productC .spv .linkC {
  margin: .25em 0;
}

/* line 61, ../../app/stylesheets/partials/_product_page.scss */
#atcC {
  /* contact engine */
}
/* line 62, ../../app/stylesheets/partials/_product_page.scss */
#atcC form {
  position: relative;
}
/* line 64, ../../app/stylesheets/partials/_product_page.scss */
#atcC input#quantity {
  width: 22px !important;
}
/* line 67, ../../app/stylesheets/partials/_product_page.scss */
#atcC input[type="submit"] {
  width: 300px;
  margin: 0 0 0 45px;
  font-size: 1.6em;
  padding: .5em .25em;
}
/* line 73, ../../app/stylesheets/partials/_product_page.scss */
#atcC #quantityC {
  font-family: arial, helvetica, sans-serif;
  position: absolute;
  left: 360px;
  top: 4px;
}
/* line 79, ../../app/stylesheets/partials/_product_page.scss */
#atcC #quantityC label[for="quantity"] {
  position: absolute;
  top: -5px;
  left: 0px;
}
/* line 84, ../../app/stylesheets/partials/_product_page.scss */
#atcC #quantityC input#quantity {
  position: absolute;
  top: 13px;
  left: 8px;
  margin: 0px;
  text-align: center;
}

/* line 94, ../../app/stylesheets/partials/_product_page.scss */
#hero_image {
  width: 450px;
  height: 300px;
}

/* line 99, ../../app/stylesheets/partials/_product_page.scss */
p.thumbs img {
  border: solid 1px transparent;
  width: 100px;
  height: 100px;
  padding: 4px;
}
/* line 105, ../../app/stylesheets/partials/_product_page.scss */
p.thumbs img:hover {
  border-color: #FF9900;
  background-color: white;
}

/* line 3, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC {
  width: 450px;
  margin: 0 0 0 250px;
}
/* line 7, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC h1 {
  text-align: center;
}
/* line 10, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset {
  border: none !important;
}
/* line 13, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset legend, #new_contactC fieldset label {
  display: none !important;
}
/* line 15, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset .field {
  margin-bottom: 1.6em;
}
/* line 19, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset input[type="text"],
#new_contactC fieldset input[type="email"],
#new_contactC fieldset textarea {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  font-size: 1.6em;
  padding: .5em 5px;
  width: 100%;
  margin: 0;
}
/* line 27, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset .actions {
  width: 103%;
}
/* line 29, ../../app/stylesheets/partials/_contact_form.scss */
#new_contactC fieldset .actions .button {
  width: 100%;
  font-size: 1.6em;
  padding: .5em 5px;
}

/*----------------------------------------------------------------------- 
    easy element modificaction through simple class assignment
 ------------------------------------------------------------------------ */
/* line 17, ../../app/stylesheets/partials/_helpers.scss */
.marginT {
  margin-top: 10px;
}

/* line 18, ../../app/stylesheets/partials/_helpers.scss */
.marginR {
  margin-right: 10px;
}

/* line 19, ../../app/stylesheets/partials/_helpers.scss */
.marginB {
  margin-bottom: 10px;
}

/* line 20, ../../app/stylesheets/partials/_helpers.scss */
.marginL {
  margin-left: 10px;
}

/* line 21, ../../app/stylesheets/partials/_helpers.scss */
.hidden {
  display: none;
}

/* line 23, ../../app/stylesheets/partials/_helpers.scss */
hr {
  margin: 1.5em 0;
}

/* line 4, ../../app/stylesheets/partials/_about.scss */
#aboutC div {
  margin: .5em 0 1.5em 0;
  font-family: arial, helvetica, sans-serif;
  font-size: 1em;
  text-align: justify;
  line-height: 1.6em;
}
/* line 11, ../../app/stylesheets/partials/_about.scss */
#aboutC #contactC div {
  margin: 0;
  text-align: left;
}
/* line 15, ../../app/stylesheets/partials/_about.scss */
#aboutC #contactC .span-5 {
  text-align: right;
  font-weight: bold;
  margin-right: 20px;
}
