/* line 34, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body {
  text-align: center;
}
/* line 48, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 52, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body p code {
  *white-space: normal;
}

/* line 67, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
.container {
  text-align: left;
}

/* line 69, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sup {
  vertical-align: text-top;
}

/* line 71, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
sub {
  vertical-align: text-bottom;
}

/* line 73, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
hr {
  margin: -8px auto 11px;
}

/* line 75, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 77, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
fieldset {
  padding-top: 0;
}

/* line 79, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea {
  overflow: auto;
}

/* line 82, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 86, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.text:focus {
  border: 1px solid #666666;
}
/* line 88, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 92, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.title:focus {
  border: 1px solid #666666;
}
/* line 94, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 97, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.radio {
  position: relative;
  top: 0.25em;
}
/* line 100, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
input.button {
  position: relative;
  top: 0.25em;
}

/* line 103, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
textarea {
  margin: 0.5em 0;
}

/* line 105, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
select {
  margin: 0.5em 0;
}

/* line 107, ../../../../Users/ynkr/.rvm/gems/ruby-1.9.2-p180@rails31beta/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
button {
  position: relative;
  top: 0.25em;
}

/* IE's support of transparent images is abysmal */
/* line 8, ../../app/stylesheets/ie.scss */
#header_fruit {
  background: none !important;
}

/* line 11, ../../app/stylesheets/ie.scss */
div#swirly_twirlyC html* div#swirly_twirlyL, div#swirly_twirlyC div#swirly_twirlyR {
  display: none;
}
/* line 13, ../../app/stylesheets/ie.scss */
div#swirly_twirlyC #swirly_twirlyL, div#swirly_twirlyC #swirly_twirlyR {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)" !important;
  opacity: 0.1 !important;
}

/* line 19, ../../app/stylesheets/ie.scss */
ul#menuC li {
  font-size: 13px;
  color: #123;
}
/* line 23, ../../app/stylesheets/ie.scss */
ul#menuC li div.subtitle {
  font-size: 10px;
  color: #123;
  margin-right: 4px;
}
