@import "partials/helpers";

h2 {
    font-size : 2.2em;
    color : $dark_green;
    margin-bottom : 0px;
}

hr { margin : 1.5em 0; }

/*  easy element modificaction through simple class assignment */
.marginT { margin-top    : 10px; }
.marginR { margin-right  : 10px; }
.marginB { margin-bottom : 10px; }
.marginL { margin-left   : 10px; }
.hidden  { display : none; }

@import "partials/frame";
@import "partials/menu";
@import "partials/all_cap";

@import "partials/admin_area";
@import "partials/scaffold";
@import "partials/buttons";
@import "partials/overlay";
@import "partials/jquery.growl";

@import "partials/home";
@import "partials/product_page";
@import "partials/contact_form";
@import "partials/about";
@import "partials/american_village_institute";
@import "partials/faq";
@import "partials/cart";


