
= link_to cap('Facebook'), 'http://www.facebook.com/pages/Yakima-Press-Co/218466498168248', :target => '_blank'
%div.delimeter &nbsp;
= link_to cap('Twitter'), 'http://www.twitter.com/yakimapress', :target => '_blank'
