
= link_to cap('Facebook'), 'http://www.facebook.com/pages/Yakima-Press-Co/218466498168248'
%div.delimeter &nbsp;
= link_to cap('Twitter'), 'http://www.twitter.com/yakimapress'
-#
  %div.delimeter &nbsp;
  = link_to cap(['You','Tube']), '/youtube'

