/* line 14, ../../../app/stylesheets/partials/buttons.scss */
.button {
  border: 1px solid #555555;
  color: #112233 !important;
  display: block;
  float: left;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 10px 2px 10px;
  text-align: center;
  margin-top: 0px;
  line-height: 14px;
  text-decoration: none;
  text-shadow: 0 1px #ffffff;
  white-space: nowrap;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  text-shadow: 1px 1px white;
  /*background : url("/img/sprites/vertical_backgrounds.png") repeat-x scroll 0 -173px transparent;*/
  background: #dadada;
}

/* line 34, ../../../app/stylesheets/partials/buttons.scss */
.button {
  cursor: pointer;
}

/* line 36, ../../../app/stylesheets/partials/buttons.scss */
.button img {
  margin-top: -1px;
}

/* line 37, ../../../app/stylesheets/partials/buttons.scss */
html* input.button {
  line-height: 12px;
  margin-top: -4px;
}

/* line 39, ../../../app/stylesheets/partials/buttons.scss */
.button:hover, .button.sel {
  color: black !important;
}

/* line 43, ../../../app/stylesheets/partials/buttons.scss */
.button:active {
  /*background-position : 0px -59px;*/
  background-color: #dadada;
}

/* line 48, ../../../app/stylesheets/partials/buttons.scss */
.button.b100 {
  width: 100px;
}

/* line 49, ../../../app/stylesheets/partials/buttons.scss */
.button.b150 {
  width: 150px;
}

/* line 50, ../../../app/stylesheets/partials/buttons.scss */
.button.b200 {
  width: 200px;
}

/* line 51, ../../../app/stylesheets/partials/buttons.scss */
.button.b250 {
  width: 250px;
}

/* line 53, ../../../app/stylesheets/partials/buttons.scss */
.button.alert:hover {
  color: #410000 !important;
  border-color: #410000;
  background-color: white;
  text-shadow: none;
}
